<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @collection.description %>
</p>

<% if not @collection_images.nil?%>
  <p>
    <strong>Imagens:</strong>
    <% @collection_images.each do |ci| %>
      <%= image_tag ci.collection_image.url(:med) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
