<%= form_for(@collection_image) do |f| %>
  <% if @collection_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_image.errors.count, "error") %> prohibited this collection_image from being saved:</h2>

      <ul>
      <% @collection_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collection_image %><br>
    <% if @collection_image.collection_image.exists? %>
      <%= image_tag @collection_image.collection_image.url(:small) %><br/>
    <% end %>
    <%= f.file_field :collection_image %>
  </div>
  <div class="field">
    <%= f.label :collection %><br>
    <%= f.collection_select :collection_id, Collection.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
