<p id="notice"><%= notice %></p>

<h1>Listing Collection Images</h1>

<table>
  <thead>
    <tr>
      <th>Imagem da coleção</th>
      <th>Coleção</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_images.each do |collection_image| %>
      <tr>
        <td><%= image_tag collection_image.collection_image.url(:small) %></td>
        <td><%= collection_image.collection.name %></td>
        <td><%= link_to 'Show', collection_image %></td>
        <td><%= link_to 'Edit', edit_collection_image_path(collection_image) %></td>
        <td><%= link_to 'Destroy', collection_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection image', new_collection_image_path %>
