<%= form_for(@product_image, multipart: true) do |f| %>
  <% if @product_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_image.errors.count, "error") %> prohibited this product_image from being saved:</h2>

      <ul>
      <% @product_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_image %><br>
    <% if @product_image.product_image.exists? %>
      <%= image_tag @product_image.product_image.url(:small) %><br/>
    <% end %>
    <%= f.file_field :product_image %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.collection_select :product, Product.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
