<%= form_for(@sub_collection_image) do |f| %>
  <% if @sub_collection_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_collection_image.errors.count, "error") %> prohibited this sub_collection_image from being saved:</h2>

      <ul>
      <% @sub_collection_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sub_collection_image %><br>
    <% if @sub_collection_image.sub_collection_image.exists? %>
      <%= image_tag @sub_collection_image.sub_collection_image.url(:small) %><br/>
    <% end %>
    <%= f.file_field :sub_collection_image %>
  </div>
  <div class="field">
    <%= f.label :sub_collection %><br>
    <%= f.collection_select :sub_collection_id, SubCollection.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
