<p id="notice"><%= notice %></p>

<h1>Listing Sub Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_collections.each do |sub_collection| %>
      <tr>
        <td><%= sub_collection.name %></td>
        <td><%= sub_collection.description %></td>
        <td><%= sub_collection.collection.name %></td>
        <td><%= link_to 'Show', sub_collection %></td>
        <td><%= link_to 'Edit', edit_sub_collection_path(sub_collection) %></td>
        <td><%= link_to 'Destroy', sub_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub collection', new_sub_collection_path %>
