<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sub_collection.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @sub_collection.description %>
</p>

<p>
  <strong>Coleção:</strong>
  <%= @sub_collection.collection.name %>
</p>

<% if not @sub_collection_images.nil?%>
  <p>
    <strong>Imagens:</strong>
    <% @sub_collection_images.each do |sci| %>
      <%= image_tag sci.sub_collection_image.url(:med) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_sub_collection_path(@sub_collection) %> |
<%= link_to 'Back', sub_collections_path %>
