<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Dimensões:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<p>
  <strong>Código de produto:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>É Lançamento?</strong>
  <%= @product.is_new_release %>
</p>

<p>
  <strong>Coleção:</strong>
  <%= @product.collection.name %>
</p>

<p>
  <strong>Sub-Coleção:</strong>
  <%= @product.sub_collection %>
</p>

<% if not @product_images.nil?%>
  <p>
    <strong>Imagens:</strong>
    <% @product_images.each do |pi| %>
      <%= image_tag pi.product_image.url(:med) %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
